* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  background-color: #2a2a2a;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  border: 1px solid #2d2d2d ;
  margin: auto;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: grey;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

main {
  background-color: #3d3d3d;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  color: #fff;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: grey;
  color: aliceblue;
  display: grid;
  place-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul{
  width: 100%;
  list-style: none;
  padding: 0 .25rem .25rem;
}

ul > li::before{
  content: "\200B";
}

.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 0 .5rem .5rem;
  margin: .25rem .5rem;
  background-color: #eee;
  color: black;
  border-radius: 10px;
}

.item > input[type="checkbox"]{
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: .5rem;
}

.item > input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label{
  font-size: .75rem;
  flex-grow: 1;
}

.item > svg{
  width: 48px;
  min-width: 48px;
  height: 25px;
  font-size: 1rem;
  color: rgb(233, 105, 55);
  cursor: pointer;
}

.item > svg:focus,
.item > svg:hover{
  color: red;
  outline: none;
}